@font-face {
  font-family: myfont;
  src: url('fonts/NeueMontreal-Regular.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: myfont !important;
}


.main-bg {
  background: #D11A22 !important;
}